/NeuralNetwork.Infrastructure/.vs/NeuralNetwork.Infrastructure/DesignTimeBuild/*.dtbcache
/NeuralNetwork.Infrastructure/.vs/NeuralNetwork.Infrastructure/v16/*.suo
/NeuralNetwork.Infrastructure/.vs/NeuralNetwork.Infrastructure/v16/Server/sqlite3/*.lock
/NeuralNetwork.Infrastructure/.vs/NeuralNetwork.Infrastructure/v16/Server/sqlite3/*.ide
/NeuralNetwork.Infrastructure/bin/Debug/netstandard2.0/*.json
/NeuralNetwork.Infrastructure/bin/Debug/netstandard2.0/*.dll
/NeuralNetwork.Infrastructure/bin/Debug/netstandard2.0/*.pdb
/NeuralNetwork.Infrastructure/bin/Release/netstandard2.0/*.json
/NeuralNetwork.Infrastructure/bin/Release/netstandard2.0/*.dll
/NeuralNetwork.Infrastructure/obj/Debug/netstandard2.0/*.cs
/NeuralNetwork.Infrastructure/obj/Debug/netstandard2.0/*.cache
/NeuralNetwork.Infrastructure/obj/Debug/netstandard2.0/*.txt
/NeuralNetwork.Infrastructure/obj/Debug/netstandard2.0/*.dll
/NeuralNetwork.Infrastructure/obj/Debug/netstandard2.0/*.pdb
/NeuralNetwork.Infrastructure/obj/Debug/netstandard2.1/*.cs
/NeuralNetwork.Infrastructure/obj/Debug/netstandard2.1/*.cache
/NeuralNetwork.Infrastructure/obj/*.cache
/NeuralNetwork.Infrastructure/obj/*.json
/NeuralNetwork.Infrastructure/obj/*.props
/NeuralNetwork.Infrastructure/obj/*.targets
/NeuralNetwork.Infrastructure/obj/Release/netstandard2.0/*.cs
/NeuralNetwork.Infrastructure/obj/Release/netstandard2.0/*.cache
/NeuralNetwork.Infrastructure/obj/Release/netstandard2.0/*.txt
/NeuralNetwork.Infrastructure/obj/Release/netstandard2.0/*.dll
/Test/bin/Debug/netcoreapp3.0/*.dll
/Test/bin/Debug/netcoreapp3.0/*.pdb
/Test/bin/Debug/netcoreapp3.0/*.json
/Test/bin/Debug/netcoreapp3.0/*.exe
/Test/obj/Debug/netcoreapp3.0/*.cs
/Test/obj/Debug/netcoreapp3.0/*.cache
/Test/obj/Debug/netcoreapp3.0/*.CopyComplete
/Test/obj/Debug/netcoreapp3.0/*.txt
/Test/obj/Debug/netcoreapp3.0/*.dll
/Test/obj/Debug/netcoreapp3.0/*.exe
/Test/obj/Debug/netcoreapp3.0/*.pdb
/Test/obj/*.cache
/Test/obj/*.json
/Test/obj/*.props
/Test/obj/*.targets
/TestWinForm/*.user
/TestWinForm/bin/Debug/netcoreapp3.0/*.dll
/TestWinForm/bin/Debug/netcoreapp3.0/*.pdb
/TestWinForm/bin/Debug/netcoreapp3.0/*.json
/TestWinForm/bin/Debug/netcoreapp3.0/*.exe
/TestWinForm/obj/Debug/netcoreapp3.0/*.cs
/TestWinForm/obj/Debug/netcoreapp3.0/*.cache
/TestWinForm/obj/Debug/netcoreapp3.0/*.CopyComplete
/TestWinForm/obj/Debug/netcoreapp3.0/*.txt
/TestWinForm/obj/Debug/netcoreapp3.0/*.dll
/TestWinForm/obj/Debug/netcoreapp3.0/*.exe
/TestWinForm/obj/Debug/netcoreapp3.0/*.pdb
/TestWinForm/obj/*.cache
/TestWinForm/obj/*.json
/TestWinForm/obj/*.props
/TestWinForm/obj/*.targets
/NeuralNetwork.Infraestructure.Winform/bin/Debug/*.pdb
/NeuralNetwork.Infraestructure.Winform/bin/Debug/*.dll
/NeuralNetwork.Infraestructure.Winform/bin/Release/*.dll
/NeuralNetwork.Infraestructure.Winform/obj/Debug/*.cache
/NeuralNetwork.Infraestructure.Winform/obj/Debug/*.CopyComplete
/NeuralNetwork.Infraestructure.Winform/obj/Debug/*.txt
/NeuralNetwork.Infraestructure.Winform/obj/Debug/*.dll
/NeuralNetwork.Infraestructure.Winform/obj/Debug/*.pdb
/NeuralNetwork.Infraestructure.Winform/obj/Release/*.cache
/NeuralNetwork.Infraestructure.Winform/obj/Release/*.CopyComplete
/NeuralNetwork.Infraestructure.Winform/obj/Release/*.txt
/NeuralNetwork.Infraestructure.Winform/obj/Release/*.dll
/NeuralNetwork.Infrastructure/.vs/NeuralNetwork.Infrastructure/v16/Server/sqlite3/*.ide-shm
/NeuralNetwork.Infrastructure/.vs/NeuralNetwork.Infrastructure/v16/Server/sqlite3/*.ide-wal
/TestWinForm/bin/Release/netcoreapp3.0/*.dll
/TestWinForm/bin/Release/netcoreapp3.0/*.json
/TestWinForm/bin/Release/netcoreapp3.0/*.exe
/TestWinForm/bin/Release/netcoreapp3.0/*.pdb
/TestWinForm/obj/Release/netcoreapp3.0/*.cs
/TestWinForm/obj/Release/netcoreapp3.0/*.cache
/TestWinForm/obj/Release/netcoreapp3.0/*.CopyComplete
/TestWinForm/obj/Release/netcoreapp3.0/*.txt
/TestWinForm/obj/Release/netcoreapp3.0/*.dll
/TestWinForm/obj/Release/netcoreapp3.0/*.exe
/TestWinForm/obj/Release/netcoreapp3.0/*.pdb
/NeuralNetwork.Infraestructure.Winform/obj/Debug/*.cs
/NeuralNetwork.Infraestructure.Winform/obj/Release/*.cs
